body{
    margin: auto;
    width: 1000px;
    font-family: 'Fira Sans', sans-serif;
    color: white;
}

h1{
    font-size: 36px;
    font-family: 'Playfair Display', serif;
    color: black;
}



/* 
----- BLÅ   align-items: flex-end;
    justify-content: space-around;
    
    SIDAN -----
*/

.top-section{
    height: 300px;
    background-color: #C7DDEA;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.top-section h1{
    margin: 60px 0 0 250px;
}

img{
    margin: 60px 0 0 100px;
}

/*  ---------------- Meny ---------------- */

.nav-items{
    list-style-type: none;
    text-align: center;
    color:#A9A19E;
 }

 li{
    display: inline;
    font-size: 12px;
    font-weight: bold;
    padding: 50px 100px 50px 0;
  }

 a{
    text-decoration:none;
    color:#A9A19E;
 }

.nav-items a{
    color: black;
}


/*  ------- Kontaktrutan ----------- */


 .contact-page{
    height: 450px;
    padding: 80px 0 0 0;
    background-color: #A9A19E;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 }
 
 .contact-page h1{
    width: 280px;
    padding: 0 0 35px 0;
    margin: 0;
    font-size: 36px;
    color: #ffffff;
 }



 .email-ruta{
     background-color: white;
     border-radius: 3px;
     width: 300px;
     height: 15px;
     padding: 10px;
 }

 .message-ruta{
    background-color: white;
    color: #000000;
    border-radius: 3px;
    width: 300px;
    height: 130px;
    display: flex;
    align-items: flex-start;
    padding: 10px;
}


.myButton{
    margin: 10px 0;
	background-color:#ffffff;
	-moz-border-radius:29px;
    -webkit-border-radius:29px;
    box-shadow: 0px 2px 2px -2px black;
	border-radius:29px;
	border:1px solid white;
    display:inline-block;
	color:#000000;
    font-size:12px;
    font-weight: bold;
	padding:12px 40px;
    text-decoration:none;
    
}  

.contact-form div{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.contact-form p{
    margin: 15px 0 0 0;
}

/*  ---------------- Karta ------------------*/


.karta{
    background-image: url(img/karta.jpg);
    background-position: center; 
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    align-items: center;
    
}

.karta article {
    margin: 100px;
    width: 250px;
    height: 150px;
    padding: 30px;
    background-color: orange;
    
}

.karta h1{
    margin: 0;
    width: 280px;
    font-size: 36px;
    color: #ffffff;
}

.karta p{ 
    line-height: 0.3em;
    
    
}


/*  --------------- Slutruta --------------- */

.slutruta{
    height: 250px;
    background-color: rgb(107, 107, 107);
}