body{
    margin: auto;
    width: 1000px;
    background-color: rgb(245, 245, 245);
    font-family: 'Fira Sans', sans-serif;
}

h1{
    font-family: 'Playfair Display', serif;
}


h2{
    color: white;
    margin: 0;
    font-family: 'Lora', serif;   
}


/* ------------------ HERO -----------------------*/

.hero{
    height: 500px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;  
    background-color: rgb(182, 213, 227);
}

.hero-blue{
    width: 500px;
    height: 500px;
    padding: 50px 0 0 100px;
    grid-area: 1/1/3/2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
}

.hero-blue h1{
    margin: 0;
    width: 280px;
    padding: 0 0 15px 0;
    font-size: 36px;
   
}

.hero-blue p{
    margin: 0 0 20px 0;
    width: 250px;
    text-align: left;
    line-height: 1.5rem;
}


.image-family{
    margin: -81px 80px;
    width: 290px;
    align-self: flex-end;
}

.myButton{
    background-color:#ffffff;
    -moz-border-radius:29px;
    -webkit-border-radius:29px;
    border-radius:29px;
    border:1px solid #d6d6d6;
    display:inline-block;
    font-size: 12px;
    font-weight: 700;
    font-family: 'Fira Sans', sans-serif;
    padding:12px 40px;
    text-decoration:none;
}

.hero-orange{
    background-color: #F17949;
    grid-area: 1/2/2/3;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center; 
}

.hero-orange p{
    margin: 0;
    font-size: 8px;
}

.hero-yellow{
    background-color: rgb(255, 165, 0);
    grid-area: 2/2/3/3;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.hero-yellow p{
    margin: 0;
    font-size: 8px;
}


/* ------------------ NAVIGATION ----------------*/
    
.nav-items{
    list-style-type: none;  
    text-align: center; text-align: center;
    color:#A9A19E;
}

li {
    display: inline;
    padding: 30px 100px 30px 0;
}
  
a{
    text-decoration:none;
    color:#A9A19E;
}


/*--------------- GREY SECTION ----------------*/

.h1-grey{
    width: 280px;
    padding: 0 0 35px 0;
    margin: 0;
    font-size: 36px;
    color: #ffffff;
    font-family: 'Playfair Display', serif;
}

.section-grey{
    height: 600px;
    padding: 80px 0 0 0;
    background-color: #A9A19E;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
 
.section-grey p{
    width: 250px;
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 14px;
    line-height: 1.2rem;
}
 

 /*---------------------- CARDS -----------------*/
 
.section-middle{
    display: flex;
    justify-content: center;
}
 
 .grid-container{
    display: grid;
    grid-template-areas:
    "box box box";
}
 
.card{
    padding: 20px;
    background-color: white;
    margin: -160px 20px;
    border-radius: 5px;
    width: 180px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1rem;
    -webkit-box-shadow: 10px 10px 18px -11px rgba(0,0,0,0.34);
    -moz-box-shadow: 10px 10px 18px -11px rgba(0,0,0,0.34);
    box-shadow: 10px 10px 18px -11px rgba(0,0,0,0.34);
}
 
.card p {
    font-size: 10px;
    color: grey;
    text-align: center;
}
 
.card h4 {
    margin: 30px 0 0 0;
    color: #000000;
    font-family: 'Playfair Display', serif;
    font-size: 12px;
    text-align: center;
}
 
.img-cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 
.card img{
    border-radius: 5px;
}
 

/*------------------ YELLOW SECTION ---------------------*/
 
.section-yellow{
    height: 600px;
    background-color: rgb(235, 173, 41);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
.section-yellow p{
    font-size: 12px;
    text-align: center;
    width: 450px;
    color: rgb(0, 0, 0);
    line-height: 1.2rem;
}
 
.section-yellow h1{
    font-size: 36px;
    font-family: 'Playfair Display', serif;
    color: #ffffff;
    text-align: center;
}
 
/*------------- INFO BOX ------------- */

.info-box-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 40rem;
    max-width: 100%;
}

.info-box-container h1{
    font-size: 38px;
    text-align: center;
} 

.info-box-container h3{
    padding: 20px 0 0 20px;
    color: #A9A19E;
    margin: 0;
    font-size: 25px;
}

.info-box-container p{
    text-align: center;
    font-size: 20px;
    padding: 0 40px;
}

.signup-one{
    padding: 0 80px;
    background-color: #C7DDEA;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.signup-two{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 60%;
}

.signup-three{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 60%;
}

.signup-four{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 60%;
}

.signup-five{
    background-color: #F17949;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 60%;
}

.signup-six{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 60%;
}


/*--------------------- Footer ------------------*/

.scroll-up{
    width: 1000px;
    height: 50px;
    padding: 5px 0;
    background-color: #A9A19E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scroll-up a{
    color: black;
}

.scroll-up p{
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 0;
    padding: 10px 0 0 0;
}

footer{
    width: 1000px;
    height: 20rem;
    background-color: #777574;
}